<!DOCTYPE html>
<html>
  <head>
    <title>Dinosaurs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "all dinos", dinosaurs_path %> <br>
    <%= link_to "make a new dino", new_dinosaur_path%> <br>
    <%= yield %>
  </body>
</html>
