<h1><%= @game.title %></h1>
<p>Description: <%= @game.description %></p>
<p>Rating: <%= @game.rating %></p>
<img src="<%= @game.image_url %>" alt="<%= @game.title %>">

<%# Delete form %>

<% @game.reviews.each do |review| %>
  <p><%= review.content%></p>
<% end %>
