<h3>Correct So Far: <%= @number_correct %></h3>
<p><%= @message %></p>

<h1><%= @question.content %></h1>

<ul>
<%= form_with model:@questionResponse do | form | %>
    <%= form.hidden_field :question_id %>
    <label>Choices:</label>
    <% @question.random_answers.each do | answer | %>
        <div>
            <label><%= answer.content %></label>
            <%= form.radio_button :answer_id, answer.id%>
        </div>
    <% end %>
    <%= form.submit "Submit"%>
<% end %>
</ul>