<% if flash[:errors] %>
  <h3>No can do.</h3>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @alien do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br>
  <%= f.label :home_planet %>
  <%= f.text_field :home_planet %>
  <br>
  <%= f.label :appendages %>
  <%= f.number_field :appendages %>
  <br>
  <%= f.label :dangerous %>
  <%= f.check_box :dangerous %>
  <br>
  <%= f.submit %>
<% end %>