<h1>All Aliens<h1>

<%= button_to "Create Alien", new_alien_path, method: :get %>

<h2>Aliens</h2>
<% @aliens.each do |alien| %>
<h3><%= link_to alien.name, alien_path(alien) %><h3>
<h4>Home Planet: <%= alien.home_planet %></h4>
<p><%= alien.description %> 
  <% if alien.dangerous %>
    Dangerous! Attacks with
  <% else %>
    Docile. Communicates with
  <% end %>
  <%= alien.appendages %> appendages.
</p>
<% end %>
