<!DOCTYPE html>
<html>
  <head>
    <title>Auth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <br>
    <% if logged_in? %>
      <%= link_to "Logout", sessions_path, method: :delete %>
    <% else %>
      <%= link_to "Login", login_path %>
    <% end %>
  </body>
</html>
