<h3><%= @book.title %> by <%= link_to @book.author.name, author_path(@book.author) %></h3>
<p><%= @book.genre %>. Published by <%= @book.publisher %> in <%= @book.year %></p>
<% if @book.checked_out %>
  <p>Checked Out.</p>
  <%= button_to "Check In", book_path(@book), method: :patch, params: { book: { checked_out: false }} %>
<% else %>
  <p>Available!</p>
  <%= button_to "Check Out", book_path(@book), method: :patch, params: { book: { checked_out: true }} %>
<% end %>
<br>
<%= button_to "Edit", edit_book_path(@book), method: :get %>
<%= button_to "Discontinue", book_path(@book), method: :delete %>
<br>
<%= link_to "All Books", books_path %>
