<h1>Create a New Pizza</h1>

<%= form_for @pizza do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :cost %>
	<%= f.text_field :cost %>

	<%= f.label :size %>
	<%= f.text_field :size %>

	<%= f.label :extra_cheese %>
	<%= f.text_field :extra_cheese %>

	<%= f.submit %>
<% end %>